ipython==8.21.0
appnope==0.1.3
pexpect==4.9.0
ipykernel==6.29.0
decorator==5.1.1
nest-asyncio==1.6.0
ptyprocess==0.7.0
Pygments==2.17.2
parso==0.8.3
jupyter_core==5.7.1
comm==0.2.1
stack-data==0.6.3
platformdirs==4.2.0
asttokens==2.4.1
jedi==0.19.1
pure-eval==0.2.2
prompt-toolkit==3.0.43
matplotlib-inline==0.1.6
jupyter_client==8.6.0
traitlets==5.14.1
wcwidth==0.2.13
pyzmq==25.1.2
psutil==5.9.8
debugpy==1.8.0
executing==2.0.1
tornado==6.4
flatbuffers==24.3.25
ujson==5.9.0
pluggy==1.4.0
tzdata==2023.4
gevent==24.2.1
kiwisolver==1.4.5
pyasn1==0.5.1
numpy==1.26.3
absl-py==2.1.0
pygame==2.5.2
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-qthelp==1.0.7
smart-open==6.4.0
httpcore==1.0.3
smmap==5.0.1
sacrebleu==2.4.1
termcolor==2.4.0
aiosignal==1.3.1
sentry-sdk==2.16.0
PyYAML==6.0.1
textblob==0.18.0.post0
wandb==0.18.3
thinc==8.2.3
GitPython==3.1.43
typing_extensions==4.9.0
filelock==3.13.1
pydload==1.0.9
colorama==0.4.6
transformers==4.37.2
python-dateutil==2.8.2
confection==0.1.4
inquirerpy==0.3.4
astunparse==1.6.3
contourpy==1.2.0
typer==0.9.0
grpcio-status==1.60.1
google-pasta==0.2.0
torchdata==0.7.1
regex==2023.12.25
pip==24.0
aiohttp==3.9.3
spacy-legacy==3.0.12
gitdb==4.0.11
torchaudio==2.2.2
sacremoses==0.1.1
soupsieve==2.6
markdown-it-py==3.0.0
fairseq==0.12.2
multidict==6.0.5
safetensors==0.4.5
six==1.16.0
seaborn==0.13.2
h11==0.14.0
google-api-python-client==2.147.0
attrs==23.2.0
spacy==3.7.2
pyarrow==15.0.0
spacy-loggers==1.0.5
Jinja2==3.1.3
isort==5.13.2
urduhack==0.1.4
setuptools==69.1.0
pytz==2024.1
annotated-types==0.6.0
namex==0.0.7
fsspec==2023.10.0
rich==13.7.1
murmurhash==1.0.10
pyphen==0.15.0
catalogue==2.0.10
sympy==1.12
iniconfig==2.0.0
Markdown==3.6
uritemplate==4.1.1
google-auth-httplib2==0.2.0
optree==0.11.0
bert-score==0.3.13
ml-dtypes==0.3.2
gensim==4.3.2
en-core-web-sm==3.7.1
kagglehub==0.3.3
portalocker==2.8.2
Babel==2.14.0
cloudpathlib==0.16.0
packaging==23.2
google-generativeai==0.8.2
datasets==2.17.0
hydra-core==1.0.7
httpx==0.26.0
imageio==2.33.1
sphinxcontrib-htmlhelp==2.0.5
alabaster==0.7.16
xxhash==3.4.1
torchvision==0.17.1
yarl==1.9.4
rouge_score==0.1.2
pylint==3.0.3
weasel==0.3.4
wordcloud==1.9.3
multiprocess==0.70.16
sentencepiece==0.1.99
protobuf==4.25.3
sphinxcontrib-jsmath==1.0.1
Flask-Cors==4.0.0
Werkzeug==3.0.2
setproctitle==1.3.3
proto-plus==1.23.0
python-utils==3.8.2
gast==0.5.4
torch-geometric==2.6.1
requests==2.31.0
threadpoolctl==3.2.0
Cython==3.0.10
sphinx-argparse==0.4.0
progressbar2==4.4.2
fonttools==4.47.2
pillow==10.2.0
cffi==1.16.0
bitarray==2.9.2
llamaapi==0.1.36
sentence-transformers==2.3.1
mdurl==0.1.2
ai4bharat-transliteration==1.1.3
openai==1.12.0
mpmath==1.3.0
google-auth==2.28.0
zope.interface==6.2
en-core-web-lg==3.7.1
mccabe==0.7.0
preshed==3.0.9
sortedcontainers==2.4.0
rsa==4.9
charset-normalizer==3.3.2
blinker==1.7.0
joblib==1.3.2
pyasn1-modules==0.3.0
itsdangerous==2.1.2
nltk==3.8.1
omegaconf==2.0.6
torch==2.2.2
textstat==0.7.4
google-ai-generativelanguage==0.6.10
docutils==0.20.1
tensorboard==2.16.2
mock==5.1.0
evaluate==0.4.3
srsly==2.4.8
tensorflow==2.16.1
imagesize==1.4.1
libclang==18.1.1
certifi==2024.2.2
google-api-core==2.17.1
tensorboardX==2.6.2.2
pycparser==2.22
cycler==0.12.1
matplotlib==3.8.2
cymem==2.0.8
cachetools==5.3.2
dill==0.3.8
wheel==0.43.0
googleapis-common-protos==1.62.0
Flask==3.0.3
sphinxcontrib-serializinghtml==1.1.10
pyparsing==3.1.1
sphinxcontrib-devhelp==1.0.6
h5py==3.10.0
pandas==2.2.0
tomlkit==0.12.3
distro==1.9.0
pfzy==0.3.4
MarkupSafe==2.1.5
greenlet==3.0.3
frozenlist==1.4.1
antlr4-python3-runtime==4.8
opt-einsum==3.3.0
docker-pycreds==0.4.0
networkx==3.2.1
snowballstemmer==2.2.0
bs4==0.0.2
indic-nlp-library==0.92
sniffio==1.3.0
sphinxcontrib-jquery==4.1
pydantic_core==2.16.2
tensorboard-data-server==0.7.2
Morfessor==2.0.6
scikit-learn==1.4.0
keras==3.2.0
pytest==8.0.1
scipy==1.12.0
lxml==5.2.1
anyio==4.2.0
tokenizers==0.15.2
urllib3==2.2.0
tqdm==4.66.1
huggingface-hub==0.25.1
sphinx-rtd-theme==2.0.0
beautifulsoup4==4.12.3
tensorflow-io-gcs-filesystem==0.36.0
httplib2==0.22.0
wasabi==1.1.2
Sphinx==7.2.6
idna==3.6
PyMySQL==1.1.0
accelerate==0.34.2
pyarrow-hotfix==0.6
astroid==3.0.3
pydantic==2.6.1
click==8.1.7
tabulate==0.9.0
langcodes==3.3.0
conllu==4.5.3
torchtext==0.17.0
wrapt==1.16.0
zope.event==5.0
grpcio==1.60.1
blis==0.7.11
